.download {
  background-color: @color-dark-blue;
}

.download__title {
  color: @color-white;
  font-family: "opensanslight", sans-serif;
  font-size: 40px;
  line-height: 120%;
}

.button--download {
  text-decoration: none;
  color: @color-white;
  font-family: "opensansbold", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
}

.download__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.download__wrapper p {
  color: @color-white;
  font-family: "opensanslight", sans-serif;
  font-size: 18px;
  line-height: 24px;
}
