.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__list a {
  text-decoration: none;
  color: @color-white;
}

.main-nav__item {
  font-family: "opensansbold", sans-serif;
  font-size: 18px;
  line-height: 32px;
  text-transform: uppercase;
}
