
.page-header {
  margin: 0 auto;
  background-color: @color-blue;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-image: url("../../img/back-mobile.jpg");
  background-repeat: no-repeat;
  background-position: 50%;

  @media (min-width: @tablet-width) {
    height: 729px;
    background-image: url("../../img/back-tablet.jpg");
    background-repeat: no-repeat;
    background-position: 50%;
  }

  @media (min-width: @desktop-width) {
    height: 853px;
    display: flex;
    flex-direction: row;
    background-image: url("../../img/back-desktop.jpg");
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
  }
}

.page-header__logo {
  width: 74px;
  height: 23px;

  @media (min-width: @tablet-width) {
    width: 145px;
    height: 40px;
  }

  @media (min-width: @desktop-width) {
    width: 147px;
    height: 40px;
  }
}
