.photo-gallery {
  background-color: @color-grey;
}

.photo-gallery__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.photo-gallery__user {
  background-color: @color-white;
}

.photo-gallery__autor {
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
}

.photo-gallery__time {
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
}

.photo-gallery__user-post {
  font-size: 14px;
  line-height: 24px;
}

.photo-gallery__rating {
  color: @color-red;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
}
