.reviews__list {
  padding: 0;
  margin: 0;
  list-style: none;
  background-color: @color-white;
  display: block;
  text-align: center;
}

.reviews__autor {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: @color-black;
  display: grid;
  grid-column: 1fr 1fr;
}

.reviews__content {
  font-size: 14px;
  line-height: 30px;
}
