
//Color
@color-black: #000000;
@color-text-blue: #283645;
@color-white: #ffffff;
@color-blue: #283645;
@color-dark-blue: #1D2631;
@color-grey: #F2F2F2;
@color-grey-border: #E5E5E5;
@color-red: #D22856;
@color-green: #2AAB6D;

//Vieports
@tablet-width: 660px;
@desktop-width: 1200px;
@mobile-width-only: 659px;

//Style

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset (100%);
  clip: rect(0000);
  overflow: hidden;
}
