
//Color
@color-black: #000000;
@color-black-shadow: rgba(0, 0, 0, 0.25);
@color-text-blue: #283645;
@color-white: #ffffff;
@color-blue: #283645;
@color-dark-blue: #1D2631;
@color-grey: #F2F2F2;
@color-grey-border: #E5E5E5;
@color-red: #D22856;
@color-red-shadow: rgba(210, 40, 86, 0.3);
@color-white-shadow:rgba(255, 255, 255, 0.15);
@color-white-shadowtext:rgba(255, 255, 255, 0.3);
@color-green: #2AAB6D;
@color-black-showdowhead: rgba(0, 0, 0, 0.3);
//Vieports
@tablet-width: 660px;
@desktop-width: 1200px;
@mobile-width-only: 659px;
@tablet-width-only: 1199px;
//Style

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset (100%);
  clip: rect(0000);
  overflow: hidden;
}
